:root {
  --soft-cyan: hsl(174, 77%, 80%); /*Full Slider Bar*/
  --strong-cyan: hsl(174, 86%, 45%); /*Slider Backround*/
  --light-grayish-red: hsl(14, 92%, 95%); /*Discount Background*/
  --light-red: rgb(255, 140, 102); /*Discount Text*/
  --pale-blue: hsl(226, 100%, 87%); /*CTA Text*/

  --white: hsl(0, 0%, 100%); /*Pricing Component Background*/
  --very-pale-blue: hsl(230, 100%, 99%); /*Main Background*/
  --light-grayish-blue-1: hsl(224, 65%, 95%); /*Empty Slider Bar*/
  --light-grayish-blue-2: hsl(223, 50%, 87%); /*Toggle Background*/
  --grayish-blue: hsl(225, 20%, 60%); /*Text*/
  --dark-desaturated-blue: hsl(227, 35%, 25%); /*Text & CTA Background*/
}

.hidden {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background: no-repeat url("../images/bg-pattern.svg");
  background-size: cover;
  background-position: top -40vh left -1rem;
  font-size: 1.5rem;
  line-height: 1.8;
  position: relative;
  padding-bottom: 10rem;
}

/* Call to action */
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 20rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  background: no-repeat url("../images/pattern-circles.svg");
  background-size: contain;
  background-position: 50% -25%;
}

.cta__title {
  font-size: 2.5rem;
  color: var(--dark-desaturated-blue);
}

.cta__desc {
  color: var(--grayish-blue);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: var(--white);
  width: 90vw;
  max-width: 90rem;
  padding: 2.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  margin-inline: auto;
  position: relative;
}

.card__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.card__views {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--grayish-blue);
  order: 1;
}

.card__component {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__component--toggle {
  margin-left: -4rem;
}

.card__component--price {
  order: 3;
}

.card__price {
  font-size: 4rem;
  font-weight: 900;
  color: var(--dark-desaturated-blue);
}

.card__price--bounceIn {
  -webkit-animation: bounceIn;
  -moz-animation: bounceIn;
  -o-animation: bounceIn;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card__price--flipInX {
  -webkit-animation: flipInX;
  -moz-animation: flipInX;
  -o-animation: flipInX;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
}
.card__billing {
  color: var(--grayish-blue);
  -webkit-animation: fadeInRight;
  -moz-animation: fadeInRight;
  -o-animation: fadeInRight;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.card__switch {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

.card__switch + label {
  display: block;
  width: 6rem;
  height: 3rem;
  background-color: var(--light-grayish-blue-2);
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.card__switch + label:hover {
  background-color: var(--soft-cyan);
}

.card__switch + label::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.4s;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.6, -0.18, 0.74, 0.05);
}

.card__billing--yearly {
  position: relative;
}

.card__billing--yearly::after {
  content: "-25%";
  text-align: center;
  display: block;
  position: absolute;
  top: 0.5rem;
  right: -4.5rem;
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 140, 102, 0.2);
  font-size: 1.1rem;
  color: rgb(255, 140, 102);
}
.card__switch:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
/* Slider */
.card__slider {
  width: 100%;
  border-radius: 10px;
  height: 1rem;
  -webkit-appearance: none;
  background: var(--light-grayish-blue-1);
  outline: none;
  order: 2;
}

.card__slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: no-repeat center url("../images/icon-slider.svg"),
    var(--strong-cyan);
  cursor: pointer;
  border: none;
  transition: 0.2s;
  box-shadow: 0 1rem 2rem var(--soft-cyan);
}

.card__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: no-repeat center url("../images/icon-slider.svg"),
    var(--strong-cyan);
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.card__slider::-webkit-slider-thumb:hover {
  background: no-repeat center url("../images/icon-slider.svg"),
    hsl(174, 86%, 40%);
}

.card__slider::-moz-range-thumb:hover {
  background: no-repeat center url("../images/icon-slider.svg"),
    hsl(174, 86%, 40%);
}

.card__divider {
  width: 150%;
  background-color: var(--light-grayish-blue-2);
  height: 2px;
}

.card__component--features {
  flex-direction: column;
  gap: 4rem;
}

.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.card__item {
  color: var(--grayish-blue);
}

.card__item::before {
  content: "";
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  background: no-repeat url("../images/icon-check.svg");
  background-position: bottom;
  background-size: contain;
  margin-right: 2rem;
}

.card__btn {
  all: unset;
  display: flex;
  padding: 1.5rem 5rem;
  background-color: var(--dark-desaturated-blue);
  color: var(--pale-blue);
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.card__btn:hover {
  color: var(--white);
  transform: scale(1.02);
}
/* Attribution */
.attribution {
  position: absolute;
  width: 100%;
  margin-inline: auto;
  bottom: 1rem;
  color: var(--grayish-blue);
}

.attribution a {
  color: var(--light-red);
}

@media screen and (min-width: 900px) {
  html {
    font-size: 70%;
  }
  .card {
    padding: 7rem;
  }
  .card__group {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  .card__views {
    flex-basis: 50%;
  }

  .card__component--price {
    display: flex;
    flex-basis: 50%;
    order: 2;
    justify-content: flex-end;
  }

  .card__slider {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .card__component--features {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .card__list {
    align-items: flex-start;
  }

  .card__btn {
    align-self: flex-end;
  }
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.animate__flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
